

h1 { 
     

        background-color: #5e3434; 
        border-radius: 20px; 
        padding: 21px;
        color: white;
        font-size: 30px;
        
    

}
.a { 
    font-size: 500px;
    background: local;
    


}
img {
    width: 500px;
}
p {

}